<script>
    var title = 'data_paket'
  </script>
 <%- include('../templates/sidebar')%>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
            <a class="navbar-brand" href="/trav/<%= token%>">Data Travel</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form"></form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                    Account
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="#"><i class="material-icons">settings</i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/logout/<%= token%>"><i class="material-icons">logout</i> Logout</a>
                </div>
                </li>
                <!-- your navbar here -->
            </ul>
            </div>
        </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
        <a href="/trav/<%= token%>" class="btn btn-primary">Kembali</a>
        <div class="card mt-5">

            <div class="card-header card-header-primary card-header-bg">
                <h4 class="card-title">Buat Data</h4>
            </div>
            <div class="card-body">
        <form action="/trav/post/<%= token%>" enctype="multipart/form-data" method="POST">
            <div class="form-row">
            <div class="col">    
            <div class="form-group">
                <label for="">Nama Travel</label>
                <input class="form-control" name="" required type="text" name="nama">   
            </div>
            </div>
            <div class="col">    
            <div class="form-group-file">
                <label for="img_paket">Gambar Travel</label>
                <input type="file" class="form-control" name="img_paket" id="img_paket">
            </div>
            </div>
            <div class="col">    
            <div class="form-group">
                <label for="">Keterangan</label>
                <input class="form-control" required type="textarea" name="ket">
            </div>
            </div>
            </div>
            <div class="form-group">
                <label for="">Jenis Paket</label>
                <input class="form-control" required type="text" name="jenis">
            </div>
            <div class="form-group-file">
                <label for="">Gambar Paket</label>
                <input required type="file" name="img_type">
            </div>
            <div class="form-group">
                <label for="">Fasilitas</label>
                <input class="form-control" required type="textarea" name="fasilitas">
            </div>
            <div class="form-group">
                <label for="">Penerbangan</label>
                <input class="form-control" required type="text" name="penerbangan">
            </div>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">IDR. </span>
                  </div>
                <label for="">Harga</label>
                <input class="form-control" required type="number" name="harga">
            </div>
            <div id="input">
            </div>
            <div class="form-group">
                <span class="btn btn-white btn-round btn-just-icon" id="reset"><i class="material-icons">autorenew</i></span>
                <span class="btn btn-white btn-round btn-just-icon" id="add"><i class="material-icons">add</i></span>
                <button type="submit" class="btn btn-white btn-round btn-just-icon" id="add"><i class="material-icons">add_circle</i></button>
            </div>
        </form>
    </div>
    </div>
    </div>
    </div>
    <%- include('../templates/footer')%>
    <script>
        document.getElementById('reset').onclick = () => {
            window.location.reload()
        }
        document.getElementById('add').onclick = () => {
            document.getElementById('input').innerHTML += '<label for="">Jenis Paket</label><input required type="text" name="jenis"><br><br><label for="">Gambar Paket</label><input required type="file" name="img_type"><br><br><label for="">Fasilitas</label><input required type="textarea" name="fasilitas"><br><br><label for="">Penerbangan</label><input required type="text" name="penerbangan"><br><br><label for="">Harga</label><input required type="number" name="harga"><br><br>'
        }
    </script>